@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<h1>Book List</h1>

@foreach (Book b in Model.Books)
{
    <h2>@b.Title</h2>
    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.ISBN</li>
        <li>Classification/Category: @b.Category</li>
        <li>Number of Pages: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>

    <br />
}

<div page-list="@Model.PageInfo" page-action="Index"></div>